* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: #111;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: aliceblue;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: aliceblue;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
    color: aliceblue;
}

.final-score span {
    color: rgb(228, 184, 40);
}

.btn-play{
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: blueviolet;
}

.controlls {
    display: none;
    height: 55px;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.controlls button {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-down {
    margin-top: 125px;
    margin-left: 60px;
    position: absolute;
}

.btn-left {
    margin-top: 60px;
}

.btn-right {
    margin-top: 60px;
}

@media (max-width: 460px) {
    canvas{
        width: 300px;
    }

    .controlls {
        display: flex;
    }

    .score--value {
        font-size: 3rem;
    }

    .game-over {
        font-size: 2rem;
    }
}
